<li class="haiku" id=title>"{{poem.title}}" <span class="author"> by{{poem.author}}</span> </li>
<!-- <li class="haiku" id=author>by {{poem.author}}</li> -->
<li class="haiku" id=lineOne>{{poem.lineOne}}</li>
<li class="haiku" id=lineTwo>{{poem.lineTwo}}</li>
<li class="haiku" id=lineThree>{{poem.lineThree}}</li>
<br>
