  {{log "poem in haiku disp" poem}}
<li class="haiku" id=title><b><h4>{{poem.title}}</h4></b></li>
<li class="haiku" id=author>by {{poem.author}}</li>
<li class="haiku" id=lineOne>{{poem.lineOne}}</li>
<li class="haiku" id=lineTwo>{{poem.lineTwo}}</li>
<li class="haiku" id=lineThree>{{poem.lineThree}}</li>
<br><br>
